@media (max-width: 800px) {

    .open{
       width:15em;
    }
    .Menu{
        flex-direction:column;



    }
    .Menu div:last-of-type{
        width:100%;
        flex-direction:row;
        

    }
    .Menu div:last-of-type p{

        display:inline;

    }
    .preco{
        margin-right:10px;

    }
   .container{
    flex-direction:column;
    margin:auto;

   }
   .im2{
    display: block;
    margin: 0 auto;
    max-width: 100%; 
   }
   
}
@media (max-width: 500px){
.Menu{
display:flex;
flex-direction:column;
background-color:brown;
height:500px;
}

.preco{
margin:auto;
}

.ADD{
width:100px;
height:40px;
align-items:center;
margin:auto;

}
.imagem{
width:200px;
height:200px;
margin:0px;

}
.descricao-menu{
margin:auto;
font-size:1em;
}
.name-hamburguer{
margin-top:-15px;
}


}

