:root {
  --cor0: #3C3635;
  --cor1: #915B50;
  --cor3: #BB5B48;
  --cor4: #E65133;
  --cor5: #664E49;
  --cor6: #332826;
}

body{
  margin:0;
  padding:0;
  box-sizing:border-box;


}

.top {
  background-color: var(--cor0);
  background-image: url(../imagens/bg.png);
  background-position: center;
  border: 1px solid black;
  padding: 35px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  
}

h1 {
  color: white;
}

h2 {
  text-align: center;
  margin-top: 9px;
  margin-bottom: 6px;
  font-size:2em;
}

.imgtop:hover {
  transform: scale(1.1);
}

.imgtop {
  transition: transform 0.5s ease;
}

.end {
  color: white;
  font-size: 15px;
}

.open {
  background-color: rgb(132, 165, 83);
  margin: 0px 250px;
  border: 1px solid black;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1rem;
  padding-left: 1rem;
  color: rgb(255, 250, 250);
  display: block;
}

header > img {
  width: 8rem;
  height: 8rem;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.imgtop {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
}

header > div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  align-items:center;
  justify-content:center;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;

}
main > div {
  flex-direction:column;
  display:flex;
  width:60%;
  


}

.Menu {
  display:flex;
  align-items: center;
  position: relative;
  margin-bottom:15px;
  justify-content:space-around;
  border:1px solid black;
  border-radius:5px;
  background-color:#3c36355b;
  margin-top:5px;
  
}

.imagem:hover {
  transform: rotate(-2deg);
  transition: transform 0.3s ease;
}

.imagem {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-left:5px;
  margin-top:8px;
  margin-bottom:5px;
}

.name-hamburguer {
  font-family: verdana;
  text-align:center;
  color:black;
  font-size:1.2em;
}

.descricao-menu {
  font-size: 15px;
  text-align: center;
  max-width:80%;
  margin:0 auto;
  
}
.Menu div:last-of-type{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:10%;


}

.ADD {
  padding: 2px;
  border-radius: 5px;
  display:flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.ADD:hover{
  transform:scale(1.1);
  color:#3c363569;


}

.png-bebidas{

  width:150px;
  height:150px;
  display:flex;
  flex-direction:column;
  


}









  


